/* Empty. Add your own CSS if you like */

.img-circle {
     border-radius: 50%;
}
.img-circle-width {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.thick {
     font-weight: bold;
}

.heightbtn {
   border-radius: 12px;
   background-color: #ADD8E6;
   color: Black;
   border: 2px solid #ADD8E6;

   width: 250px;
 /*  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
.Facebookbtn {
   background-color: RoyalBlue;
   color: White;
   border: 2px solid RoyalBlue;

 /*  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
.backGG{
    background-color: WhiteSmoke;
}
.backTabsBar{
    background-color: DarkSlateGray ;
}
.setLabel{
background-color:	#ADD8E6;
width:auto;
}

.ChatSent {
  position: relative;
  padding: 8px 10px;
  color: black;
  background: #E5E5EA;
  border-radius: 25px;
/*  float: right; */
}
.ChatReceive {
  position: relative;
  padding: 10px 20px;
  background: #ADD8E6;
  border-radius: 25px;
  color: black;
/*  float: left;  */
}

.color-darkgray{
  color: #4d4f53 !important;
}
.color-gray {
  color: #8e8e93 !important;
}

textarea.about-me{
  resize: none !important;
  min-height:100px;
  max-height:150px;
  font-size: 110%;
}
td-cards {
  display: block;
}
td-card {
  background: white;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  /*max-height: 320px !important;*/
  position:absolute;
  border-radius: 10px;
}
td-card .item{
  border-bottom-right-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  box-shadow: 0 8px 6px -6px #ccc;
  border-top: none;
}

td-card img {
  width: 100%;
  /*height: 85% !important;*/
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: -5px;
  object-fit: cover;
}
