/* Empty. Add your own CSS if you like */

.img-circle {
     border-radius: 50%;
}

.thick {
     font-weight: bold;
}

.heightbtn {
   border-radius: 12px;
   background-color: White;
   color: Black;
   border: 2px solid Gainsboro;
   padding: 5px 120px;
 /*  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.backGG{
    background-color: WhiteSmoke;
}
