<ion-view view-title="Chats">
    <ion-content class="padding"  class="backGG">
      <div ng-init="getMessage()">
        <div ng-repeat="item in DataParseChatRoom ">
        <p ng-checked="CheckUser({{item.CId.CId}})" >
        <img class="img-circle" ng-src="{{ item.CId.image.path }}" height="30px" weight="30px">
        <span class ="{{ classname }}"> {{item.content}} </span>
       </p>
        <!-- <h8>{{item.datesent}}</h8> {{ MessageInput }} -->
      </div>
    </div>


      </ion-content>
  <form name="sendMessageForm"  novalidate>
      <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
          <label class="item-input-wrapper">
              <input id="msg-input"  class="input-message" type="text" ng-model="MessageInput" placeholder="Message">
          </label>
          <div class="footer-btn-wrap">
            <button class="button button-icon icon ion-ios-paperplane footer-btn" ng-click="PostMessage()">
            </button>

          </div>
      </ion-footer-bar>
  </form>

</ion-view>
