<ion-view title="Confirm to join" id="page22">
  <ion-content padding="true" class="has-header">
    <div id="confirmToJoin-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Are you sure to join this lobby?</p>
    </div>
    <ion-list id="confirmToJoin-list10">
      <ion-item class="item-thumbnail-left" id="confirmToJoin-list-item39">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.findLobby" id="confirmToJoin-button20" class="button button-positive  button-block">Confirm</a>
    <a ui-sref="tabsController.findLobby" id="confirmToJoin-button21" class="button button-positive  button-block">Cancle</a>
  </ion-content>
</ion-view>