<ion-view title="Confirm to join" id="page25">
  <ion-content padding="true" class="has-header backGG">
    <div id="confirmToJoin2-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Are you sure to join this lobby?</p>
    </div>
    <ion-list id="confirmToJoin2-list13">
      <ion-item class="item-thumbnail-left" id="confirmToJoin2-list-item11">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <a ui-sref="notifications" id="confirmToJoin2-button10" class="button button-positive  button-block">Confirm</a>
    <a ui-sref="tabsController.findLobby" id="confirmToJoin2-button12" class="button button-positive  button-block">Cancle</a>
  </ion-content>
</ion-view>
