<ion-view title="Confirm to join" id="page22">
  <ion-content padding="true" class="has-header">
    <div id="confirmToJoin-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Are you sure to join this lobby?</p>
    </div>
    <div ng-repeat="item in show">
    <ion-list id="confirmToJoin-list10">
      <ion-item class="item-avatar" id="findFriend-list-item32" >
        <img src="{{item.path}}" >
        <h2>{{item.Name}},{{item.sport}}</h2>
        <p>{{item.description}},</p>
      <p>{{item.date}} , {{item.time}} , {{item.location}}</p>
     </ion-item>
    </ion-list>
  </div>
  <ion-item ng-click="ShowSuccess()">
    <h2>Confirm</h2>
  </ion-item>
    <a ui-sref="tabsController.findLobby" id="confirmToJoin-button21" class="button button-positive  button-block">Cancle</a>
  </ion-content>
</ion-view>
