<ion-view title="Confirm to invite" id="page19">
  <ion-content class="has-header backGG">

    <div ng-init="ShowFriendAndLobby()">

      <div class="item item-divider">
      You will invite this person to lobby?
      </div>


    <ion-list id="confirmToInvite-list8">
      <ion-item class="item-avatar" id="confirmToInvite-list-item30">
        <img src="{{ image }}">
        <h2>{{ firstname}} {{ lastname}}</h2>
        <h3>{{ age}}</h3>
        <h4>Volleyball, Basketball, Badminton</h4>
      </ion-item>
    </ion-list>

    <div class="item item-divider">
    to
    </div>

    <ion-list id="confirmToInvite-list9">
      <ion-item class="item-thumbnail-left" id="confirmToInvite-list-item31">
        <img ng-checked="CheckPicture({{ IdSport }})" src="{{ picSport }}" >
        <h2>{{ nameLobby }},{{ sport }}</h2>
        <p>{{ description }},</p>
        <p>{{ start_date }}, {{ location }}</p>
      </ion-item>
    </ion-list>
    <div class="item item-divider">
    </div>
    <ion-item ng-click="PostNotify()">
    <h2>Confirm</h2>
    </ion-item>
    <a ui-sref="tabsController.findFriend" id="confirmToInvite-button18" class="button button-positive  button-block">Cancle</a>
  </div>
    </div>
  </ion-content>
</ion-view>
