<ion-view title="Confirm to invite" id="page19">
  <ion-content padding="true" class="has-header">
    <div id="confirmToInvite-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Are you sure to invite</p>
    </div>
    <ion-list id="confirmToInvite-list8">
      <ion-item class="item-avatar" id="confirmToInvite-list-item30">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div id="confirmToInvite-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">to</p>
    </div>
    <ion-list id="confirmToInvite-list9">
      <ion-item class="item-thumbnail-left" id="confirmToInvite-list-item31">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.findFriend" id="confirmToInvite-button17" class="button button-positive  button-block">Confirm</a>
    <a ui-sref="tabsController.findFriend" id="confirmToInvite-button18" class="button button-positive  button-block">Cancle</a>
  </ion-content>
</ion-view>