<ion-view title="Create your lobby" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="createYourLobby-form6" class="list">
      <label class="item item-input" id="createYourLobby-input9">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="createYourLobby-textarea2">
        <span class="input-label">Description</span><textarea placeholder=""></textarea></label>
      <label class="item item-select" id="createYourLobby-select4">
        <span class="input-label">Select</span>
        <select>
          <option>Volleyball</option>
          <option>Football</option>
          <option>Badminton</option>
          <option>Tennis</option>
          <option>Table Tennis</option>
          <option>Golf</option>
          <option>Fitness</option>
        </select>
      </label>
      <label class="item item-input" id="createYourLobby-input10">
        <span class="input-label">Date</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="createYourLobby-input11">
        <span class="input-label">Time</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="createYourLobby-input12">
        <span class="input-label">Location</span>
        <input type="text" placeholder="">
      </label>
      <a ui-sref="tabsController.selectLocation" id="createYourLobby-button8" class="button button-positive  button-block">Add Location</a>
      <label class="item item-input" id="createYourLobby-input13">
        <span class="input-label">Maximum Player</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="createYourLobby-button5" class="button button-positive  button-block">Create lobby</button>
  </ion-content>
</ion-view>
