<ion-view title="Find Friend" id="page3">
  <ion-content padding="true" class="has-header backGG">
<!--    <form id="findFriend-form4" class="list">
      <label class="item item-select" id="findFriend-select2">
        <span class="input-label">Select Sport</span>
        <select>
          <option>Basketball</option>
          <option>Volleyball</option>
          <option>Football</option>
          <option>Badminton</option>
          <option>Tennis</option>
          <option>Fitness</option>
        </select>
      </label>
    </form>
-->
    <div ng-init="getFriend()">
        <div ng-repeat="item in DataParseCustomer" >
    <ion-item class="item-avatar" id="findFriend-list-item32"  ng-click="ToDetail({{item.CId}})">
      <img src="{{item.image.path}}">
      <h2>{{item.firstname}} {{item.lastname}}</h2>
      <h3>{{item.age}}</h3>
      <h4>Volleyball, Basketball, Badminton</h4>
         </ion-item>
       </div>
     </div>
     </ion-content>
   </ion-view>
