<body ng-controller="friendDetailCtrl">
<ion-view title="Friend Detail" id="page17">
  <ion-content padding="true" class="has-header">

      <img ng-src="{{thumbnail}}">
    <div id="friendDetail-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <a ui-sref="tabsController.selectYourLobby" id="friendDetail-button16" class="button button-positive  button-block">Invite to your lobby</a>
  </ion-content>
</ion-view>
<body>
