<body ng-controller="friendDetailCtrl">
<ion-view title="Friend Detail" id="page17">
  <ion-content padding="true" class="has-header backGG">
    <center>
    <p class="thick">  Touch your friend to invite </p>
    </center>
    <div ng-init="getFriendDetail()">

    <td-card ng-click="ToShowLobby(Cid)">
      <div class="image">
        <img ng-src="{{ image }}">
            <div class="item">
              <h2>{{firstname}} {{lastname}}, {{age}}</h2>
              <p>
              {{aboutme}}
              </p>
            </div>
      </div>
    </td-card>

    <!--
    <div id="friendDetail-markdown7" class="show-list-numbers-and-dots">
    <center>
    <img class= "profile-image" ng-src="{{image}}">
    </center>
      <p style="color:#000000;">
        <strong>Name : {{firstname}} {{lastname}}</strong>
      </p>
      <p style="color:#000000;">
        <strong>About Me : {{aboutme}}</strong>
      </p>
      <p style="color:#000000;">
        <strong>Age : {{age}}</strong>
      </p>
    </div>


    </ion-item>
-->
  </div>
<!--

    <a ui-sref="tabsController.selectYourLobby" id="friendDetail-button16" class="button button-positive  button-block">Invite to your lobby</a>
-->

  </ion-content>
</ion-view>
<body>
