<body ng-controller="friendDetailCtrl">
<ion-view title="Friend Detail" id="page17">
  <ion-content padding="true" class="has-header backGG">
    <div ng-init="getFriendDetail()">
      <center>
      <img ng-src="{{image}}" weight="250px" height="250px">
    </center>
    <div id="friendDetail-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Name : {{firstname}} {{lastname}}</strong>
      </p>
      <p style="color:#000000;">
        <strong>About Me : {{aboutme}}</strong>
      </p>
      <p style="color:#000000;">
        <strong>Age : {{age}}</strong>
      </p>
    </div>

    <ion-item ng-click="ToShowLobby(Cid)"><h2>Invite to your lobby</h2>
    </ion-item>

  </div>
<!--

    <a ui-sref="tabsController.selectYourLobby" id="friendDetail-button16" class="button button-positive  button-block">Invite to your lobby</a>
-->

  </ion-content>
</ion-view>
<body>
