<ion-view title="Lobby Detail" id="page21">
  <ion-content padding="true" class="has-header backGG">
    <div ng-init="getLobby()">
      <center>
    <img ng-src="{{ picSport }}" weight="150px" height="150px">
    </center>

    <div id="friendDetail-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Name : {{name}}</strong>
      </p>
      <p style="color:#000000;">
        <strong>Description : {{description}}</strong>
      </p>
      <p style="color:#000000;">
        <strong>Sport : {{sport}}</strong>
      </p>
      <!--
      <p style="color:#000000;">
        <strong>Date and Time : {{item.date}} , {{item.time}} </strong>
      </p>
    -->
      <p style="color:#000000;">
        <strong>Location : {{location}} </strong>
      </p>

  </div>
    </div>
      <a ng-click="showConfirm()" id="lobbyDetail-button19" class="button button-positive  button-block">Join lobby</a>
  </ion-content>
</ion-view>
