<ion-view title="Lobby Detail" id="page24">
  <ion-content  class="has-header backGG">
    <center>
    <p class="thick">  Touch this Lobby if you want to join </p>
    </center>
  <div ng-init="getLobby()">
    <div id="friendDetail-markdown7" class="show-list-numbers-and-dots" ng-repeat="item in DataParseLobby">
    <td-card ng-click="showConfirm()" >
      <div class="image">
        <img ng-checked="CheckPicture({{item.sport.SId}})" ng-src="{{ picSport }}" >
            <div class="item">
              <h2>{{ item.name }} ,  {{ item.sport.name}}</h2>
              <p>
              {{ item.description }}
              </p>
              <p>
              {{item.startTime}}
              </p>
              <p>
              {{ item.location.name }}
              </p>
            </div>
      </div>
        </div>
    </td-card>

  </ion-content>
</ion-view>
