<ion-view title="Lobby Detail" id="page24">
  <ion-content padding="true" class="has-header backGG">
    <center>
  <!--  <img ng-src="{{item.path}}" weight="250px" height="250px">  -->
  </center>
  <div ng-init="getNotify()">
  <div id="friendDetail-markdown7" class="show-list-numbers-and-dots" ng-repeat="item in DataParseNotify">
    <p style="color:#000000;">
      <strong>Name : {{ item.inviteTo.name }}</strong>
    </p>
    <p style="color:#000000;">
      <strong>Description : {{ item.inviteTo.description }}</strong>
    </p>
    <p style="color:#000000;">
      <strong>Sport : {{ item.inviteTo.sport.name}}</strong>
    </p>
    <!--
    <p style="color:#000000;">
      <strong>Date and Time : {{item.date}} , {{item.time}} </strong>
    </p>
  -->
    <p style="color:#000000;">
      <strong>Location : {{ item.inviteTo.location.name }} </strong>
    </p>

</div>
  </div>
    <a ng-click="ToConfirm()" id="lobbyDetail-button19" class="button button-positive  button-block">Join lobby</a>
  </ion-content>
</ion-view>
