<ion-view title="Lobby Detail" id="page21">
  <ion-content padding="true" class="has-header backGG">
    <center>
    <p class="thick">  Touch this Lobby if you want to join </p>
    </center>
    <div ng-init="getLobby()">
      <td-card ng-click="showConfirm(Cid)">
        <div class="image">
          <img ng-src="{{ picSport }}" >
              <div class="item">
                <h2>{{name}} , {{sport}}</h2>
                <p>
                {{description}}
                </p>
                <p>
                {{startTime}}
                </p>
                <p>
                {{location}}
                </p>
              </div>
        </div>
      </td-card>

  </ion-content>
</ion-view>
