<ion-view title="Lobby Detail" id="page24">
  <ion-content  class="has-header backGG">
    <center>
    <p class="thick">  Touch this Lobby if you want to join </p>
    </center>
  <div ng-init="getNotify()">
    <div id="friendDetail-markdown7" class="show-list-numbers-and-dots" ng-repeat="item in DataParseNotify">
    <td-card ng-click="ToShowDetailNotify({{item.inviteTo.lbId}})" >
      <div class="image">
        <img ng-checked="CheckPicture({{item.inviteTo.sport.SId}})" ng-src="{{ picSport }}" >
            <div class="item">
              <h2>{{ item.inviteTo.name }} ,  {{ item.inviteTo.sport.name}}</h2>
              <p>
              {{ item.inviteTo.description }}
              </p>
              <p>
              {{item.inviteTo.startTime}}
              </p>
              <p>
              {{ item.inviteTo.location.name }}
              </p>
            </div>
      </div>
        </div>
    </td-card>

  </ion-content>
</ion-view>
