<ion-view title="New Feed" id="page2">
  <ion-content padding="true" class="has-header">
    <div ng-init="getAdvertise()">
    <ion-list>
      <div class="list card" ng-repeat="item in DataParse track by $index" href="#/app/cardview/{{item.id}}">
    <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Teammate Finder</h2>
    <p>March 22, 2017</p>
    </div>

    <div class="item item-body">
    <img class="full-image" src="{{item.imgId.path}}">
    <p>
      {{item.content}}
    </p>
    <p>
      {{item.description}}
    </p>
    </div>
  </div>
</div>
  </ion-list>
  </ion-content>
</ion-view>
