<ion-view title="Profile" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="profile-form11" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <label class="item item-input" id="profile-input25">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="profile-textarea3">
        <span class="input-label">About me</span><textarea placeholder=""></textarea></label>
      <label class="item item-select" id="profile-select6">
        <span class="input-label">Gender</span>
        <select>
          <option>Male</option>
          <option>Female</option>
        </select>
      </label>
      <label class="item item-input" id="profile-input26">
        <span class="input-label">Birthdate</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="profile-input27">
        <span class="input-label">Username</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="profile-select7">
        <span class="input-label">Interest in</span>
        <select>
          <option>Basketball</option>
          <option>Volleyball</option>
          <option>Football</option>
          <option>Badminton</option>
          <option>Tennis</option>
          <option>Fitness</option>
        </select>
      </label>
    </form>
    <a ui-sref="tabsController.newFeed" id="profile-button11" class="button button-positive  button-block">Edit</a>
  </ion-content>
</ion-view>