<ion-view title="Select your lobby" id="page18">
  <ion-content padding="true" class="has-header">
    <ion-list id="selectYourLobby-list7">
      <ion-item class="item-thumbnail-left" id="selectYourLobby-list-item27" ui-sref="tabsController.confirmToInvite">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="selectYourLobby-list-item28" ui-sref="tabsController.confirmToInvite">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="selectYourLobby-list-item29" ui-sref="tabsController.confirmToInvite">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>