<ion-view title="Select Location" id="page14">
  <ion-content padding="true" class="has-header">
    <ion-list id="selectLocation-list4">
      <ion-item id="selectLocation-list-item24" ui-sref="tabsController.createYourLobby">PSU Basketball Gim</ion-item>
    </ion-list>
    <ion-list id="selectLocation-list5">
      <ion-item id="selectLocation-list-item25" ui-sref="tabsController.createYourLobby">Sapanhin Stadium</ion-item>
    </ion-list>
    <ion-list id="selectLocation-list6">
      <ion-item id="selectLocation-list-item26" ui-sref="tabsController.createYourLobby">PSU Stadium near by dorm</ion-item>
    </ion-list>
    <a ui-sref="tabsController.pleaseMarkYourLocation" id="selectLocation-button13" class="button button-positive  button-block">Find On Maps</a>
  </ion-content>
</ion-view>