<ion-view title="Select Location" id="page14">
  <ion-content padding="true" class="has-header backGG">
    <div ng-init="getLocation()">
      <div ng-repeat="item in LocationJSON">
    <ion-list id="selectLocation-list4">
      <ion-item id="selectLocation-list-item24" ui-sref="tabsController.createYourLobby">{{item.name}}</ion-item>
    </ion-list>
  </div>
  </div>
          <!-- -->
    <a ui-sref="tabsController.pleaseMarkYourLocation" id="selectLocation-button13" class="button button-positive  button-block">Find On Maps</a>
  </ion-content>
</ion-view>
