<ion-view title="Set Name Location" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="setNameLocation-form7" class="list">
      <label class="item item-input" id="setNameLocation-input16">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <form id="setNameLocation-form8" class="list">
      <label class="item item-input" id="setNameLocation-input18">
        <span class="input-label">Latitude</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <form id="setNameLocation-form9" class="list">
      <label class="item item-input" id="setNameLocation-input19">
        <span class="input-label">Longitude</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.createYourLobby" id="setNameLocation-button15" class="button button-positive  button-block">Confirm</a>
  </ion-content>
</ion-view>