<body ng-controller="signUpCtrl">
  <ion-view title="Sign Up" id="page12">
    <ion-content padding="true"  class="backGG">
      <div>
      <form id="signUp-form3" class="list">

        <center>
          <img class="img-circle" ng-src="{{ picture }}" height="80px" weight="80px">
          <span class="input-label thick">{{name}},&nbsp;{{age}}</span>
        </center>
          <center><h5>Description about yourself.</h5></center>
        <label class="item item-input" id="signUp-textarea1">
          <span class="input-label thick">About me :</span><textarea placeholder=""></textarea></label>

        <label class="item item-input" id="signUp-select1">
          <span class="input-label thick fontPalatino">Gender : {{gender}} </span>

        </label>
        <center><h5>Setting about you age.</h5></center>
        <label class="item item-input" id="signUp-input17">
          <span class="input-label thick">Show Age </span>
          <label class="toggle"><input type="checkbox"><div class="track"><div class="handle"></div></div></label>
        </label>
        <center><h5>Setting your username.</h5></center>
        <label class="item item-input" id="signUp-input8">
          <span class="input-label thick">Username :</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signUp-input14">
          <span class="input-label thick">Email :  {{email}}</span>
        </label>
        <center><h5>Mark your interesting sports.</h5></center>
        <label class="item" id="signUp-select5">
          <span class="input-label thick">Interest in</span>
        </label>
        <ion-list>
        <ion-checkbox ng-model="sports.Volleyball">Volleyball</ion-checkbox>
        <ion-checkbox ng-model="sports.Football">Football</ion-checkbox>
        <ion-checkbox ng-model="sports.Badminton">Badminton</ion-checkbox>
        <ion-checkbox ng-model="sports.Tennis">Tennis</ion-checkbox>
        <ion-checkbox ng-model="sports.TableTennis">Table Tennis</ion-checkbox>
        <ion-checkbox ng-model="sports.Golf">Golf</ion-checkbox>
        </ion-list>
      </form>
      <center>
      <a ui-sref="tabsController.newFeed" id="signUp-button3" class="button heightbtn thick">Sign Up</a>
    </center>
    </div>
    </ion-content>
  </ion-view>
